:root {
    --font-choice: Arial, 'Lucida Sans', sans-serif;
    --background-choice: #09ebdc;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
.content {
  height: 100%;
  margin: 0;
  padding: 0;
  color: whitesmoke;
}

body {
    font-family: var(--font-choice);
    background-image: url("./src/Dog\ Background.jpg");
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #cccccc;
    display: flex;
    flex-direction: column;
}

header {
    font-family: var(--font-choice);
    text-align: center;
    padding: 20px;
    padding-top: 0px;
    
}


.card {
  margin: auto;
  max-width: 800px;
  padding: 30px 40px;
  display: inline-block;
  height: auto;
  background-color: rgba(0, 0, 0, 0.5);
  border-width: 1px;
  color: whitesmoke;
  font-size: 18px;

  
}

